body {
  background-color: tan;
}

.container {
  background-color: grey;
  border-radius: 10px;
}

.splash {
  min-height: 750px;
  background-image: url("day-planner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 30px;
  border-radius: 8px;
}

.schedule-header {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
}

.schedule-button {
  margin-left: 70%;
  top : 595px;
  position: relative;
  width: 290px;
  height: 100px;
  border-radius: 5px;
  border: 10px;
  border-color: white;
  font-size: 2em;
  font-family: cursive;
  background-color: lightgrey;
  padding-top: 3%;
}

.schedule-button:hover {
  background-color: white;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

.day-card {
  width: 13%;
}

.card-content {
  background-color: white;
  border-radius: 5px;
}

td {
  color: lightgrey;
}

.schedule-title {
  height: 100%;
}

.modal {
  height: 100%;
}

.modal-body {
  min-height: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.modal-footer {
  min-height: 100%;
  max-height: 100%;
  margin-top: 5px;
}
